node_modules
dist
.env
.env.local
uploads/
*.log
.DS_Store
.vite/

# VS Code
.vscode/
*.code-workspace

# JetBrains (IntelliJ, WebStorm, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Vim / Neovim
*.swp
*.swo
*~
.netrwhist

# Emacs
*#
.#*
\#*#

# Sublime Text
*.sublime-project
*.sublime-workspace
